body::-webkit-scrollbar {
    width: 0 !important
}
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }

.testDropdown {
    margin: unset;
    padding: unset;
}
.testDropdown > li {
    padding: unset;
}
.page-header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}
.testDialog > div.el-dialog__body {
    max-height: 50vh;
    overflow-y: scroll;
}
input {
    cursor: pointer;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: lighter;
    color:#666666; 
}
::-moz-placeholder { /* Firefox 19+ */
    font-weight: lighter;
    color:#666666;
}
::-ms-input-placeholder { /* IE 10+ */    
    font-weight: lighter;
    color:#666666;
}
::-moz-placeholder { /* Firefox 18- */
    font-weight: lighter;
    color:#666666;
}
::placeholder {
    font-weight: lighter;
    color:#666666;
}
    .el-input__inner::-webkit-input-placeholder {
        color: black;
        font-size: 14px;
    }

    .el-input__inner:-moz-placeholder {
        color: black;
        font-size: 14px;
    }

    .el-input__inner:-ms-input-placeholder {
        color: black;
        font-size: 14px;
    }

.el-table .cell {
    word-break: break-word;
}

.el-table__row.favorite-row > td:first-child > div > button {
    color: yellow;
}
.el-table__row.favorite-row > td:first-child > div > button:hover {
    color: #409EFF;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}
/* .favorite-button-clicked {
    color: yellow;
} */
.testTable .el-button:hover {
    color: #409EFF;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}
/* .testTable .el-button:focus {
    color: yellow;
    outline: none;
    border: 1px solid #DCDFE6;
    background-color: unset;
} */
.testTable .el-button:focus:hover {
    color: #409EFF;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}
.testTable .el-button:focus {
    color: #409EFF;
    border-color: unset;
    background-color: unset;
    outline: none;
}
.testTable .favorite-row .el-button:focus {
    background-color: unset;
    border-color: unset;
    outline: none;
}
.testTable .el-button--small {
    padding: 5px 5px;
}
.testTable .el-icon-star-on {
    font-size: 20px;
}
.testButton.clicked {
    background-color: #ecf5ff;
}
p.testPTag em {
    color: red;
}
.testTable2 tr {
    background-color: #FFE5BF;
}
.testTable tr {
    cursor: pointer;
}
.el-button.testButtonDetail + .el-button.testButtonDetail {
    margin-left: unset;
    margin-top: 0.25rem;
}
.el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }