<ng-container *ngIf="!(auth.isLoggedIn$ | async)">
  <div class="mr-1">
    <button
      (click)="clickLogin()"
      class="
        bg-gray-600
        lg:hover:bg-gray-900
        py-2
        px-4
        rounded-3xl
        text-white
        lg:hover:shadow-inner
        focus:outline-none
        transition
        duration-500
        ease-in-out
        transform
        text-base
        lg:hover:-translate-x lg:hover:scale-105
      "
    >
      Đăng nhập
    </button>
  </div>
</ng-container>
<!-- <ng-container *ngIf="auth.isLoggedIn$ | async"> -->
<ng-container *ngIf="auth.isLoggedIn$ | async">
  <div #trigger="cdkOverlayOrigin" (click)="isOpen = !isOpen" cdkOverlayOrigin class="relative flex cursor-pointer">
    <div class="block ">
      <ng-container *ngIf="(auth.user$ | async) as user">
        <ngx-avatar
          [textSizeRatio]="2.5"
          bgColor="#000"
          initialsSize="1"
          size="32"
          src="assets/images/48/avatar/default.png"
        ></ngx-avatar>
      </ng-container>
    </div>
  </div>
  <!-- This template displays the overlay content and is connected to the button -->
  <ng-template (overlayOutsideClick)="clickOutsideOverlay()"
               [cdkConnectedOverlayOpen]="isOpen"
               [cdkConnectedOverlayOrigin]="trigger"
               cdkConnectedOverlay
  >
    <app-bottom-topbar></app-bottom-topbar>
  </ng-template>
</ng-container>
