@import "src/globals";

.example-tree-invisible {
  display: none;
}

.mat-nested-tree-node div[role=group] {
  .mat-tree-node {
    padding-left: 30px;
    padding-right: 10px;

    &.active {
      background: $color-primary-light;
    }

    &:hover {
      @apply text-orange-apple-aqua-600;
    }
  }
}

.mat-tree-node {
  min-height: 30px;
  padding: 10px 0;
  @apply cursor-pointer;
}

img {
  margin-right: 10px;
}

.main-node {
  @apply font-bold text-orange-apple-aqua-600;
  padding: 10px 15.5px;

  &.active {
    background: $color-primary-light;
  }
}

:host ::ng-deep {

  .mat-tree {
    @apply border-gray-300 border;
    border-radius: $default-border-radius;
  }

  .mat-checkbox-layout {
    @apply mb-0 mr-2;
  }
}
