<div class="relative">
  <div class="mx-auto">
    <!-- filter top -->
    <div class="flex justify-end bg-gray-500 h-20">
      <ng-container *ngIf="(service.activeFolder$ | async) as folder; else addnew">
        <!-- move  -->
        <div (click)="move()" class="flex m-4" delay="500" placement="bottom" tooltip="{{ 'OCR.MOVE' | translate }}">
          <button
            class="
            px-4
            py-3
            flex
            bg-gray-200
            justify-center
            items-center
            w-full
            rounded-md
            focus:text-gray-900 focus:outline-none
            transition
            duration-500
            ease-in-out
            transform
            lg:hover:-translate-x lg:hover:scale-105
          "
          >
            <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 11h-5V6h3l-4-4-4 4h3v5H6V8l-4 4 4 4v-3h5v5H8l4 4 4-4h-3v-5h5v3l4-4-4-4z"></path>
            </svg>
          </button>
        </div>
        <!-- rename  -->
        <div (click)="rename()" class="flex m-4" delay="500" placement="bottom"
             tooltip="{{ 'OCR.RENAME' | translate }}">
          <button
            class="
            px-4
            py-3
            flex
            bg-gray-200
            justify-center
            items-center
            w-full
            rounded-md
            focus:text-gray-900 focus:outline-none
            transition
            duration-500
            ease-in-out
            transform
            lg:hover:-translate-x lg:hover:scale-105
          "
          >
            <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.005 5.995h-1v2h1v8h-1v2h1c1.103 0 2-.897 2-2v-8c0-1.102-.898-2-2-2zm-14 4H15v4H6.005z"></path>
              <path
                d="M17.005 17.995V4H20V2h-8v2h3.005v1.995h-11c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h11V20H12v2h8v-2h-2.995v-2.005zm-13-2v-8h11v8h-11z"></path>
            </svg>
          </button>
        </div>
        <!--  delete folder -->
        <div (click)="deleteFolder()" class="flex m-4" delay="500" placement="bottom"
             tooltip="{{ 'OCR.XOATHUMUC' | translate }}">
          <button
            class="
            px-4
            py-3
            flex
            bg-gray-200
            justify-center
            items-center
            w-full
            rounded-md
            focus:text-gray-900 focus:outline-none
            transition
            duration-500
            ease-in-out
            transform
            lg:hover:-translate-x lg:hover:scale-105
          "
          >
            <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z"></path>
            </svg>
          </button>
        </div>
      </ng-container>
      <ng-template #addnew>
        <!--  add new folder-->
        <div (click)="addNewFoler()" class="flex m-4" delay="500" placement="bottom"
             tooltip="{{ 'OCR.TAOFOLDER' | translate }}">
          <button
            class="
            px-4
            py-3
            flex
            bg-gray-200
            justify-center
            items-center
            w-full
            rounded-md
            focus:text-gray-900 focus:outline-none
            transition
            duration-500
            ease-in-out
            transform
            lg:hover:-translate-x lg:hover:scale-105
          "
          >
            <svg fill="currentColor"
                 height="24" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M13 9h-2v3H8v2h3v3h2v-3h3v-2h-3z"></path>
              <path
                d="M20 5h-8.586L9.707 3.293A.996.996 0 0 0 9 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zM4 19V7h16l.002 12H4z"></path>
            </svg>
          </button>
        </div>
      </ng-template>
      <!-- add new -->
      <div (click)="addNew()" class="flex m-4" delay="500" placement="bottom" tooltip="{{ 'OCR.THEMMOI' | translate }}">
        <button
          class="
            px-4
            py-3
            flex
            bg-gray-200
            justify-center
            items-center
            w-full
            rounded-md
            focus:text-gray-900 focus:outline-none
            transition
            duration-500
            ease-in-out
            transform
            lg:hover:-translate-x lg:hover:scale-105
          "
        >
          <svg
            fill="currentColor"
            height="24"
            id="svg2"
            viewBox="0 0 32 32"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="document_x5F_image_x5F_add">
              <path
                d="M32,23.001c0-4.633-3.5-8.444-8-8.942V5.584L18.414,0H0v32h24v-0.059C28.5,31.443,32,27.633,32,23.001z M17.998,2.413   L21.586,6h-3.588V2.413z M2,30V1.998h14v6.001h6v6.06c-0.863,0.095-1.688,0.311-2.461,0.633C18.956,14.013,18,14,18,14l-2,0l-2-2   h-4l-2,2H6c0,0-2,0-2,2v6c0,2,2,2,2,2s4.531,0,8.058,0c0.267,2.42,1.493,4.548,3.29,6H2z M12,22c-1.658,0-3-1.342-3-3 c0-1.656,1.342-3,3-3c1.624,0,2.94,1.295,2.991,2.907c-0.333,0.651-0.589,1.347-0.756,2.077C13.685,21.603,12.892,22,12,22z M23,30 c-3.865-0.008-6.995-3.135-7-6.999c0.006-3.865,3.135-6.995,7-7.001c3.864,0.006,6.991,3.136,6.999,7.001 C29.991,26.865,26.864,29.992,23,30z"
              />
              <g>
                <polygon
                  points="28,22 24.002,22 24.002,18 22,18 22,22 18,22 18,24 22,24 22,28 24.002,28 24.002,24 28,24"/>
              </g>
            </g>
          </svg>
        </button>
      </div>
      <!-- filter -->
      <div class="flex m-4">
        <button
          class="
            px-4
            py-3
            flex
            justify-center
            items-center
            w-full
            bg-gray-200
            rounded-md
            focus:text-gray-900 focus:outline-none
            transition
            duration-500
            ease-in-out
            transform
            lg:hover:-translate-x lg:hover:scale-105
          "
          delay="500"
          placement="bottom"
          tooltip="{{ 'OCR.LOC' | translate }}"
        >
          <svg fill="currentColor" height="24" viewBox="0 0 24 24 " width="24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.5 14.5c-1.58 0-2.903 1.06-3.337 2.5H2v2h2.163c.434 1.44 1.757 2.5 3.337 2.5s2.903-1.06 3.337-2.5H22v-2H10.837c-.434-1.44-1.757-2.5-3.337-2.5zm0 5c-.827 0-1.5-.673-1.5-1.5s.673-1.5 1.5-1.5S9 17.173 9 18s-.673 1.5-1.5 1.5zm9-11c-1.58 0-2.903 1.06-3.337 2.5H2v2h11.163c.434 1.44 1.757 2.5 3.337 2.5s2.903-1.06 3.337-2.5H22v-2h-2.163c-.434-1.44-1.757-2.5-3.337-2.5zm0 5c-.827 0-1.5-.673-1.5-1.5s.673-1.5 1.5-1.5 1.5.673 1.5 1.5-.673 1.5-1.5 1.5z"
            ></path>
            <path
              d="M12.837 5C12.403 3.56 11.08 2.5 9.5 2.5S6.597 3.56 6.163 5H2v2h4.163C6.597 8.44 7.92 9.5 9.5 9.5s2.903-1.06 3.337-2.5h9.288V5h-9.288zM9.5 7.5C8.673 7.5 8 6.827 8 6s.673-1.5 1.5-1.5S11 5.173 11 6s-.673 1.5-1.5 1.5z"
            ></path>
          </svg>
        </button>
      </div>
      <!-- search -->
      <div class="flex m-4">
        <button
          class="
            px-4
            py-3
            flex
            justify-center
            items-center
            w-full
            bg-gray-200
            rounded-md
            focus:text-gray-900 focus:outline-none
            transition
            duration-500
            ease-in-out
            transform
            lg:hover:-translate-x lg:hover:scale-105
          "
          delay="500"
          placement="bottom"
          tooltip="{{ 'OCR.TIMKIEM' | translate }}"
        >
          <svg class="h-6 w-6" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"
            ></path>
            <path
              d="M11.412 8.586c.379.38.588.882.588 1.414h2a3.977 3.977 0 0 0-1.174-2.828c-1.514-1.512-4.139-1.512-5.652 0l1.412 1.416c.76-.758 2.07-.756 2.826-.002z"
            ></path>
          </svg>
        </button>
      </div>

    </div>

    <div [ngClass]="(service.showComponentProgressFile$ | async) ? 'grid grid-cols-4 gap-4 body-list-table m-2' : ''">
      <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg bg-white h-full">
        <div class="w-full overflow-x-auto h-full">
          <table class="w-full table-auto ">
            <thead>
            <tr
              class="h-[50px] items-center bg-gray-200 px-4 py-4 text-left text-xs font-semibold text-gray-900 uppercase tracking-wider border-solid border-b-2 border-gray-apple-aqua-500">
              <th class="px-4 py-3 align-middle min-w-[200px]">TÊN</th>
              <th class="px-4 py-3 align-middle min-w-[200px]">TRẠNG THÁI</th>
              <th class="px-4 py-3 align-middle min-w-[150px]">NGƯỜI TẠO</th>
              <th class="px-4 py-3 align-middle min-w-[100px]">NGÀY TẠO</th>
              <th class="px-4 py-3 align-middle min-w-[150px]">Trích yếu</th>
              <th class="px-4 py-3 align-middle min-w-[150px]">LOẠI VĂN BẢN</th>
              <th class="px-4 py-3 align-middle min-w-[100px]">CƠ QUAN BAN HÀNH</th>
              <th class="px-4 py-3 align-middle min-w-[100px]">NGÀY BAN HÀNH</th>
              <th class="px-4 py-3 align-middle min-w-[100px]">SỐ VĂN BẢN</th>
              <th class="px-4 py-3 align-middle min-w-[150px]">NGƯỜI KÝ</th>
            </tr>
            </thead>
            <ng-container *ngIf="(folders$ | async) as datasoucre">
              <ng-container *ngFor="let element of datasoucre">
                <tbody (click)="activeFolder(element)"
                       [folder]="element"
                       app-folder-node-list
                       class="bg-white">
                </tbody>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="(files$ | async) as files">
              <tbody [childs]="files" app-progress-file-list-component></tbody>
            </ng-container>
          </table>
        </div>
      </div>
      <ng-container *ngIf="service.showComponentProgressFile$ | async">
        <div [ngClass]="isFullSreenComponent? 'fixed  top-0 left-0 z-50  w-screen h-screen' : ''"
             class="w-full mb-8 overflow-hidden rounded-lg shadow-lg bg-white h-full col-span-3">
          <div (isFullSreen)="getisFullSreenComponent($event)" app-file-orc-extract-progressing class="w-full h-full">
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>
