<td [attr.colspan]="lengthColTable" class="h-full whitespace-nowrap align-middle">
  <ng-container *ngIf="files">
    <div *ngFor="let file of files" class="flex cell-expand">
          <span *ngIf="file.isRecognition || file.isExtractingMetadata"
                class="relative px-4 py-2 text-center whitespace-nowrap align-middle min-w-[70px]">
            <ng-container *ngIf="file.isRecognition">
              <div class="relative ocr-progress-spinner text-orange-600">
                <!-- TODO -->
                <!-- <mat-progress-spinner mode="determinate" value="{{ file.progressOcr.total }}" diameter="30"></mat-progress-spinner> -->
                <mat-progress-spinner diameter="30" mode="determinate" value="80"></mat-progress-spinner>
                <!-- <span class="text-sm" style="position: absolute; left: 7px; top: 6px">{{ file.progressOcr.total }}</span> -->
                <span class="text-sm" style="position: absolute; left: 7px; top: 6px">80</span>
              </div>
            </ng-container>
            <ng-container *ngIf="file.isExtractingMetadata">
              <div class="relative extract-progress-spinner">
                <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
              </div>
            </ng-container>
          </span>
      <span class="min-w-xl relative px-4 py-2 whitespace-nowrap align-middle">
            <ng-container *ngIf="file.fileRawUrl">
              <div class="cursor-pointer">
                {{ file.name }}
              </div>
            </ng-container>
            <ng-container *ngIf="file.fileRecognitionUrl">
              <div class="text-orange-600 cursor-pointer">
                {{ file.name }}
              </div>
            </ng-container>
            <ng-container *ngIf="file.fileExtractMetadataUrl">
              <div class="text-purple-600 cursor-pointer">
                {{ file.name }}
              </div>
            </ng-container>
          </span>
    </div>
  </ng-container>
</td>
