<div class="navigation">
  <div class="logo">
    <a href=index.html>
      <img src="assets/images/ademax_no_font.png" alt="logo">
    </a>
  </div>
  <ul>
    <li>
      <a  href="dashboard.html">
        <img src="assets/icons/bx-search-alt.svg"/>
        <span class="badge badge-danger badge-small">2</span>
      </a>
    </li>
    <li>
      <a  href="files.html">
        <i class="nav-link-icon ti-file"></i>
        <span class="nav-link-label">Files</span>
      </a>
    </li>
    <li>
      <a  href="activities.html">
        <i class="nav-link-icon ti-pulse"></i>
        <span class="nav-link-label">Activities</span>
        <span class="badge badge-warning">New</span>
      </a>
    </li>
    <li>
      <a  href="users.html">
        <i class="nav-link-icon ti-user"></i>
        <span class="nav-link-label">Users</span>
      </a>
    </li>
    <li class="flex-grow-1">
      <a href="alert.html">
        <i class="nav-link-icon ti-layers"></i>
        <span class="nav-link-label">Components</span>
      </a>
    </li>
    <li>
      <a  href="settings.html">
        <i class="nav-link-icon ti-settings"></i>
        <span class="nav-link-label">Settings</span>
      </a>
    </li>
  </ul>
</div>
