@import "src/globals";

.mat-header-cell {
  @apply text-white text-sm;

  &:first-of-type {
    @apply p-0 #{!important};
  }

  &:last-of-type {
    @apply p-0 #{!important};
  }
}

.mat-cell {
  font-size: 0.75rem;
  @apply p-2 #{!important};

  .secondary-row {
    display: contents;

    em {
      color: red !important;
    }
  }
}

.mat-row {

  &:not(.expanded-row) {

    &:hover {
      background: $color-primary-light;
      @apply cursor-pointer;
    }
  }
}

tr.mat-header-row {
  @apply h-8;
  @apply bg-orange-apple-aqua-600;
}

tr.mat-row {
  @apply h-8;

  &.in-search {
    background-color: $color-primary-light !important;
  }
}
