@import "src/globals";

.mat-header-cell {
  @apply text-white text-sm;
  line-height: 2rem !important;

}

.mat-cell {
  line-height: 2rem !important;
  font-size: 0.75rem;
  @apply pl-4;
}

.mat-row {

  &:hover {
    background: $color-primary-light;
    @apply cursor-pointer;
  }
}

tr.mat-header-row {
  @apply h-8;
  @apply bg-orange-apple-aqua-600;
}

tr.mat-row {
  @apply h-8;
}
