<ng-container *ngIf="file">
  <div
    class="justify-end items-center px-4 py-3 sm:px-8 sm:flex sm:flex-row-reverse p-4 border-solid border-b-2 border-gray-200">

    <button
      (click)="nhanDang()"
      class="
        w-full
        inline-flex
        justify-center
        border border-transparent
        px-4
        py-2
        text-base
        font-medium
        sm:w-auto sm:text-sm sm:mr-3
        bg-orange-apple-aqua-500
        lg:hover:bg-orange-apple-aqua-700
        rounded-xl
        text-white
        shadow-sm
        lg:hover:shadow-inner
        transition
        duration-500
        ease-in-out
        transform
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-apple-aqua-800
      "
    >
      Nhận dạng
    </button>

    <button
      (click)="trichXuatMetadata()"
      *ngIf="showBtnExtract"
      class="
        w-full
        inline-flex
        justify-center
        border border-transparent
        px-4
        py-2
        text-base
        font-medium
        sm:w-auto sm:text-sm sm:mr-3
        bg-teal-apple-aqua-500
        lg:hover:bg-teal-apple-aqua-700
        rounded-xl
        text-white
        shadow-sm
        lg:hover:shadow-inner
        transition
        duration-500
        ease-in-out
        transform
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-apple-aqua-800
      "
    >
      Trích xuất Metadata
    </button>
    <button
      (click)="Dong()"
      class="
        w-full
        inline-flex
        justify-center
        border border-transparent
        px-4
        py-2
        text-base
        font-medium
        sm:w-auto sm:text-sm sm:mr-3
        bg-gray-apple-aqua-500
        lg:hover:bg-gray-apple-aqua-700
        rounded-xl
        text-white
        shadow-sm
        lg:hover:shadow-inner
        transition
        duration-500
        ease-in-out
        transform
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-apple-aqua-800
      "
    >
      Đóng
    </button>
  </div>
  <div *ngIf="taskid" class="px-4 py-3 sm:px-8 p-4">
    <ocr-progress-task></ocr-progress-task>
  </div>
  <div class="flex overflow-hidden overflow-y-auto flex-col md:flex-row lg:overflow-hidden w-full pt-4 pb-4">
    <div class="flex flex-1 min-h-[50vh]">
      <div *ngIf="file.fileRawUrl" class="flex flex-1">
        <img *ngIf="!isPdf; else pdf" [src]="file.fileRawUrl"/>
        <ng-template #pdf>
          <iframe
            [src]="file.fileRawUrl"
            style="height: 100%"
            width="100%"
          ></iframe>
        </ng-template>
      </div>

      <div class="flex flex-1">
        <textarea [(ngModel)]="ocrtext" class="w-full h-full resize-none border rounded-md" name="textarea"></textarea>
      </div>
      <div class="flex flex-1"></div>
    </div>
  </div>
</ng-container>
