$header-height: 90px;
$navigation-width: 80px;
$sidebar-width: 300px;
$small-navigation-width: 100px;

$body-bg-color-dark-light: #2b3653;
$color-primary: #0062ff;
$color-secondary: #a461d8;

$background-primary: #FFFFFF;
$background-secondary: #E6F2FF;

$default-border-radius: .25rem;

$default-font-size: 14px;

$border-style: 1px solid #ebebeb;
