<div class="row">
  <div class="col-12">
    <Card>
      <Button type="primary" icon="white/bx-arrow-back.svg" (onClick)="backToSearch()">Trở lại</Button>
      <Table [columns]="tableColumns"
             [pagination]="false"
             [dataSource]="dataSource"
             class="w-full mt-4">
      </Table>
      <div class="downloads mt-4" *ngIf="document.linkdoc">
        <Button
          type="secondary"
          icon="gray/bxs-download.svg"
          *ngFor="let item of document.linkdoc"
          (onClick)="downloadFile(item)"
          class="mr-2"
        >
          {{getFileName(item)}}
          <img class="ml-2" src="assets/icons/gray/bx-file.svg"/>
        </Button>
      </div>
    </Card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <Card title="Các văn bản liên quan">
      <Table [columns]="relativeColumns"
             [pagination]="false"
             [dataSource]="relativeData"
             (rowClicked)="relateClicked($event)"
             class="w-full"></Table>
    </Card>
  </div>
</div>
<ngx-spinner type="ball-clip-rotate-multiple" name="detail-spinner"></ngx-spinner>
