$hover-active: #eef9fe; //cyan-apple-aqua-100

::ng-deep .ocr-progress-spinner .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #dd6b20;
}

::ng-deep .extract-progress-spinner .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #7c3aed;
}

.element-row {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: $hover-active;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.mat-header-row {
  min-height: 0 !important;
}

.element-row {
  mat-cell {
    border-bottom: 2px solid;
    // border-gray-300
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  }
}

.element-row.expanded {
  mat-cell {
    border: none;
  }
}

.row-expanded {
  border-bottom: 2px solid !important;
  // border-gray-300
  --tw-border-opacity: 1 !important;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important;
}

.cell-expand:nth-child(odd) {
  //gray-apple-aqua-50
  background-color: #f9f9fa;
}

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f9f9fa;
}

.highlight {
  // cyan-apple-aqua-300
  background: $hover-active;
}

.body-list-table {
  height: calc(100vh - 170px);
}
